:root {
    --color-bg: #212121;
    --color-text: #f0f0f0;
    --color-accent: #EC407A;
    --color-link: #F47C20;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow: hidden;
}